body{
    font-family: 'Supermercado One', cursive;
}
.container{
    display: flex;
}
.half-width{
    width: 50%;
}
.burger{
    color: turquoise;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(19, 245, 234), rgb(41, 115, 233));
    color: whitesmoke;
    padding: 5px 50px;
    border-radius: 10px;
}
.kid-photos{
    width: 70%;
}