body{
    font-family: 'Supermercado One', cursive;
}
.container-1{
    margin: 10px;
    padding: 5px;
    background-image: url(images/shapes/Frame\ 59.jpg);
}
.container-2{
    margin: 10px;
    padding: 5px;
    background-image: url(images/shapes/Frame\ 57.jpg);
}
.container-3{
    margin: 10px;
    padding: 5px;
    background-image: url(images/shapes/Frame\ 58.jpg);
}
.container-4{
    margin: 10px;
    padding: 5px;
    background-color: rgb(7, 194, 184);
}
.flexible{
    display: flex;
}
.half-width{
    width: 50%;
}
.burger{
    color: turquoise;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(19, 245, 234), rgb(41, 115, 233));
    color: whitesmoke;
    padding: 5px 50px;
    border-radius: 10px;
}
.kid-photos{
    width: 100%;
}
.center-items{
    text-align: center;
    padding: 50px;
}
.one-third-width{
    width: 30%;
    margin: 10px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 10px 10px 5px grey;
}
.burgers{
    width: 100%;
    border-radius: 15px;
}
.container-4 h1, .container-4 p, .container-4 a{
    display: inline-block;
    margin: 5px;
    padding: 10px;
    color: whitesmoke;
}