body{
    font-family: 'Supermercado One', cursive;
}
.container{
    padding: 5px;
}
.flexible{
    display: flex;
}
.half-width{
    width: 50%;
}
.burger{
    color: turquoise;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(19, 245, 234), rgb(41, 115, 233));
    color: whitesmoke;
    padding: 5px 50px;
    border-radius: 10px;
}
.kid-photos{
    width: 100%;
}
.burger-types-headings{
    text-align: center;
    padding: 50px;
}
.one-third-width{
    width: 30%;
    margin: 10px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 10px 10px 5px grey;
}
.burgers{
    width: 100%;
    border-radius: 15px;
}